ENV=production

# e2e related
ANDROID_DEVICE_NAME=Pixel_6_Pro_API_33
ANDROID_PLATFORM_VERSION=13.0
IOS_DEVICE_NAME=iPhone 14 Pro Max
IOS_PLATFORM_VERSION=16.4

# the browser stack user
BROWSERSTACK_USERNAME=
# browser stack access key
BROWSERSTACK_ACCESS_KEY=
# browser stack android app id
BROWSERSTACK_IOS_APP_ID=
# browser stack ios app id
BROWSERSTACK_ANDROID_APP_ID=
# the username of the channel the e2e should use
E2E_USERNAME=
# the password of the channel the e2e should use
E2E_PASSWORD=
# password to use for channels common to all tests (deleted channel, banned channel)
E2E_COMMON_PASSWORD=
